*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    height: 150px;
    margin: 0px;
    background-color:rgba(86, 86, 86,0.451);
    padding-top:23px ;
}


body{
    background-image:url(images/bgimg.jpg);
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#welcome{
    color: rgb(179, 209, 185);
    margin: 0px;
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
    text-shadow: 4px 4px rgb(25, 118, 25);
    opacity:1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.headerword{
    padding-top: 20px;
    opacity:1;
}
.navigation{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight:bold;
}
#gen-button{
    display: grid;
    place-items: center;
    background-color:#164435 ;
    height:150px;
    width:400px;
    border: 2px solid white;
    border-radius: 60px;
    margin:auto;
    margin-top: 16%;
    font-size: 30px;
    color:  rgb(179, 209, 185);
    cursor: pointer;   
}
button{
    margin: auto;
}

#gen-button:hover{
    background-color:rgb(75, 152, 78);
}
.navigation a:hover{
     background-color: green;
}
p{
    color: white;
    font-size: 30px;
    text-align: center;
    
}
