<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/high_style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="highheader">
           <h1 id="highheading">Fact of The Week!</h1>
        </div>
   </header>
 
   <nav class="highnav">
        <a href="/index">HOME</a>
        <a href="/highlights">HIGHLIGHTS</a>
        <a href="/about">ABOUT</a>
   </nav>

   <main>
        <div class="highcontainer">
            <p id="ftw">{{ ftw }}</p>
        </div>
   </main>
</body>
</html>