<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body> 

  <header>
       <div class="headerword">
          <h1 id="welcome">LIFE'S MOST USELESS FACTS</h1>
       </div>
  </header>

  <nav class="navigation">
        <a href="">HOME</a>
        <a href="">HIGHLIGHTS</a>
        <a href="">ABOUT</a>
  </nav>
     
  <main class="main-button">
    <form action="" method="POST">
         <div class="buttondiv">
              <button id="gen-button" type="submit">CLICK ME</button>
         </div>
    </form>
      
  </main>

</body>
</html>