<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body> 

  <header>
       <div class="headerword">
          <h1 id="welcome">LIFE'S MOST USELESS FACTS</h1>
       </div>
  </header>

  <nav class="navigation">
        <a href="/index">HOME</a>
        <a href="/highlights">HIGHLIGHTS</a>
        <a href="/about">ABOUT</a>
  </nav>
     
  <main class="main-button">
     <div class="buttondiv">
          <button id="gen-button" onClick="submit">CLICK FOR RANDOM FACTS</button>
     </div>
      <p id="fact"></p>   
      
  </main>

</body>
</html>