*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    height: 150px;
    margin: 0px;
    background-color:rgba(86, 86, 86,0.451);
    padding-top:23px ;
}

body {
    background-image:url(../images/bgimg.jpg);
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#highheading {
    color: rgb(179, 209, 185);
    margin: 0px;
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
    text-shadow: 4px 4px rgb(25, 118, 25);
    opacity:1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.highnav {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight:bold;
}

.highnav a:hover{
    background-color: green;
}

.highcontainer{
    background-color: rgba(86, 86, 86, 0.476);
    height:400px;
    width:800px;
    margin:auto;
    margin-top:50px;
}

#ftw{
    text-align: center;
    color:rgb(179, 209, 185);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: 20%;
}